<nav class="navbar navbar-expand-lg green rounded-bottom">
    <div class="nav mr-auto">
      <a class="navbar-brand reddit" href="#" routerLink="/home" routerLinkActive="active">Reddit</a>
      <a class="nav-item nav-link white" href="#" routerLink="/communities" routerLinkActive="active">Communities</a>
      <a class="nav-item nav-link white" href="#" routerLink="/register" routerLinkActive="active">Sign up</a>
      <a class="nav-item nav-link white" href="#" routerLink="/login" routerLinkActive="active">Sign in</a>
    </div>
</nav>
<router-outlet></router-outlet>
