<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card post" style="border-color: #8b0000; border-radius: 0%;">     
            <div class="card-header-sm postBar">
                <div class="row">
                    <div class="col-md-9">
                        &nbsp; {{title}}
                    </div>
                    <div class="col">
                        <a href="#">{{communityName}}</a>
                    </div>
                    <div class="col">
                        <span class="badge badge-success" style="margin-bottom: 6px;">{{flairName}}</span>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <p class="card-text">{{text}}</p>
            </div>
    
            <div class="row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success" style="margin: 5px; margin-left: 20px;">▲</button>
                    <br/>
                    <button type="submit" class="btn btn-danger" style="margin: 5px; margin-left: 20px;">▼</button>
                </div>
                <div class="col-md-11">
                    <img class="card-img-bottom" src="/assets/img/Image.jpg" alt="Post image" style="max-height: 100px;">
                </div>
            </div>
            
        </div>
        <br/>
    </div>
</div>

