<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card post" style="border-color: #8b0000; border-radius: 0%;">     
            <div class="card-header-sm postBar">
                <div class="row">
                    <div class="col-md-10"style="margin-top: 6px;">
                        &nbsp;<a href="#" >{{community.name}}</a>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger btn-sm" style="margin: 5px; margin-left: 45px;" (click)="delete()">Delete</button>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <p class="card-text">{{community.description}}</p>
            </div>
        </div>
        <br/>
    </div>
</div>