<div class="card">
    <div class="card-header-sm">
      &nbsp;&nbsp;{{comment.user.username}}
    </div>
    <hr style="margin: 0px; padding:0px;"/>
    <div class="card-body">
      <p class="card-text">{{comment.text}}</p>
    </div>
    <div class="card-footer-sm" *ngIf="store.username === comment.user.username"> 
      <button type="submit" class="btn btn-danger btn-sm" style="margin: 5px;" (click)="delete()">Delete</button>
      <button type="submit" class="btn btn-success btn-sm" style="margin: 5px;" (click)="edit()">Edit</button>
    </div>
</div>
<br/>

